.mainContain{
  /* margin-top: 0vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* width: 100vw; */
}

.dealerCards{
  /* margin-top: 0vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  /* width: 100vw; */
}
.dealerCards1{
  /* margin-top: 0vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  /* width: 100vw; */
}

.playerCards{
  /* margin-top: 0vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  /* width: 100vw; */
}

.dealerCard1{
  box-shadow: rgb(0 0 0 / 6%) 0px 26px 30px -10px,
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  display: flex;
  flex-direction: column;
  border-style: double ;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
}

.playerCard{
  box-shadow: rgb(0 0 0 / 12%) 0px 26px 30px -10px,
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  border-style: double ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
}

.playerCards{
  width: fit-content;  
  height: fit-content; 
  margin: auto;  
}

.playerCardsParent{
  display: flex;
  height: 100px; 
}

.communal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centerContain{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.buttonContain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  height: 100px;
  width: 100px;


}

.flop1{
  content-visibility: hidden;
}
.flop2{
  content-visibility: visible;
}
.flopBoarder{
  box-shadow: rgb(0 0 0 / 12%) 0px 26px 30px -10px,
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  border-style: dotted ;
  width: 100px;
  height: 100px;
}

.winnerContain{
  
}